@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}

.App {
    text-align: center;
}

.main img {
    height: 22rem;
    transition: 1s;
}

.main img:hover {
    transform: scale(1.1);
}

.main h4 {
    font-size: 1rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #000;
}

li {
    margin: 1rem;
}

a {
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
    padding: 5px;
    border-bottom: 2px solid #fff;
    transition: 0.4s;
}

a:hover {
    border-color: red;
}

/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
